.header {
    padding: 10px;
}

.nav {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    background: #1f2937;
}

.hero {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    background: #1f2937;
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

a {
    color: #E5E7EB;
    background: #1f2937;
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
}

body {
    font-family:'Roboto';
    margin: 0;
}

.maintext {
    display: flex;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary {
    color: #E5E7EB;
    background: #1f2937;
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.rsvp {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 4px;

}

.party {
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.info {
    text-align: center;
    padding: 10px;
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
}

.profiles {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 48px;
    padding: 10px;
}

.profile img {
    border: 5px solid #3882F6;
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

.quotes {
    background-color: #E5E7EB;
    padding: 100px;
    align-items: center;
    justify-content: space-between;
}

.quotes p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quotes .attribution {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.call {
    display: flex;
    padding: 4em 8em;
    background-color: #3882F6;
    border-radius: 6px;
    color:#F9FAF8;
    margin: 100px;
}

.lefthand {
    width: 64em;
}

.callmain {
    font-weight: bold;
    font-size: large;
}

.callsub {
    font-weight: lighter;
}

.righthand {
    justify-content: center;
}

.donate {
    background: none;
    border: 2px solid #F9FAF8;
    width: 10em;
    color:#F9FAF8;
    font-weight: bold;
    border-radius: 6px;
}

footer {
    text-align: center;
    color:#1f2937;
}